<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SVG Measure</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.css[css] %>" rel="stylesheet">
  <% } %>
</head>

<% console.log(htmlWebpackPlugin.options, htmlWebpackPlugin.files) %>
<body>
  <div id="root"></div>
  <% for (var js in htmlWebpackPlugin.files.js) { %>
  <script src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
  <% } %>
  <% if (!htmlWebpackPlugin.options.__DEV__) { %>

    <script async type="text/javascript" src="//tajs.qq.com/stats?sId=65894773" charset="UTF-8"></script>

      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="//www.googletagmanager.com/gtag/js?id=UA-71560274-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-71560274-4');
    </script>
  <% } %>
</body>
</html>
